
<div>
    <header id="header" class="fixed-top">
        <div class="container">
    
          <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
            <a href="#intro" class="scrollto"><img src="./assets/img/logo.png" alt="" class="img-fluid"></a>
          </div>
    
          <nav class="main-nav float-right d-none d-lg-block">
            <ul>
              <li class="active"><a href="#intro">Inicio</a></li>
              <li><a href="#about">Sobre Nosotros</a></li>
              <li><a href="#services">Servicios</a></li>
              <li><a href="#team">Equipo</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </nav><!-- .main-nav -->
          
        </div>
      </header>
    
</div>
